.portada, .portada1 {
    width: 15%;
    margin-left: 1vw;
}

.espaciandoPrimera{
    margin-left: 10vw;
}







@media screen and (max-width:576px){
    .portada1 {
        display: none;
    }

    .portada{
        width: 40%;
        margin-left: 5vw;
    }
}