aside{
    background-image: url(/imagenes/logos/logo_medio_640.png);
    background-repeat: repeat-x;
    background-position: center;
    
}

.btnColores {
    color: white;
    background-color: #57319b ;
}

.btnColores:hover{
    color: white;
    background-color: #422673;
}

.portada, .portada1 {
    width: 15%;
    margin-left: 1vw;
}

.espaciandoPrimera{
    margin-left: 9.5vw;
}




@media screen and (max-width:1200px){
    .espaciandoPrimera{
        margin-left: 9vw;
    }

    aside{
        background-image: url(/imagenes/logos/logo_medio_640.png);
        background-repeat: repeat-x;
        background-position: left;
        background-size: 50%;
    }
}


@media screen and (max-width:576px){

    aside{
        background-image: url(/imagenes/logos/logo_medio_640.png);
        background-repeat: repeat-x;
        background-position: center;
        background-size: cover;
    }
    
    .portada1 {
        display: none;
    }

    .portada{
        width: 30%;
        margin-left: 5vw;
    }

    .espaciandoPrimera{
        margin-left: 15vw;
    }
}