*{
    font-family: 'Optima', sans-serif;
    font-size: 17px;                                    
}

a:link, a:visited, a:active {
    text-decoration:none;
}

main{
    padding-top: 69px;
}

/*imagen principal*/
.carruselPrincipal{
    height: 45vw;
}

.interesante{
    max-width: 15vw;
    padding-top: 10px;
    padding-bottom: 1px;
    margin-left: 22vw;
}

/* config aside */
aside{
    background-image: url(/imagenes/logos/logo_medio_640.png);
    background-repeat: repeat-y;
    background-position: center;   
    padding-top: 10px;
}

.collapseAltura {
    height: auto;
}

/* config botones en general */
.btnColores {
    color: white;
    background-color: #57319b ;    
}

.btnColores:hover{
    color: white;
    background-color: #422673;
}

/* config carrusel de series y el de peliculas */
.altoCarrusel{
    height: 20vw;
}

.portada, .portada1 {
    width: 15%;
    height: 100%;
    margin-left: 1vw;
}

.espaciandoPrimera{
    margin-left: 7.5vw;
}

@media screen and (max-width:1200px){
    *{
        font-size: 15px;
    }

    main{
        padding-top: 65px;
    }

    .interesante{
        max-width: 30vw;
        margin-left: 18vw;
    }
    
    .altoCarrusel{
        height: 25vw;
    }

    .espaciandoPrimera{
        margin-left: 9vw;
    }

    aside{
        background-repeat: repeat-x;
        background-position: center;
        background-size: cover;
        padding-top: 8px;
    }
}

@media screen and (max-width:576px){
    *{
        font-size: 13px;
    }

    .interesante{
        max-width: 50vw;
        margin-left: 8vw;
    }
    
    .altoCarrusel{
        height: 40vw;
    }

    .portada1 {
        display: none;
    }

    .portada{
        width: 30%;
        margin-left: 5vw;
    }

    .espaciandoPrimera{
        margin-left: 15vw;
    }
}