*{
    font-family: 'Optima', sans-serif;
    font-size: 17px;  
    color: white;                                  
}

a:link, a:visited, a:active {
    text-decoration:none;
}

main{
    padding-top: 69px;
    
}

.colorPeliculaFondo{
    background-color: #160d26;
}


/* config carrusel de series y el de peliculas */
.altoCarrusel{
    height: 20vw;

}

.portada, .portada1 {
    width: 15%;
    height: 100%;
    margin-left: 1vw;
}

.espaciandoPrimera{
    margin-left: 7.5vw;
}

@media screen and (max-width:1200px){
    *{
        font-size: 15px;
    }

    main{
        padding-top: 65px;
    }
}

@media screen and (max-width:576px){
    *{
        font-size: 13px;
    }
}