*{
    font-family: sans-serif;
    font-size: 17px;                                    
} 
main{
    padding-top: 18vh;
    padding-bottom: 20vh;
}
#card-container{
    padding: 0px;
    display: flex;
    justify-content: center;
}

.row{
    margin: 0px;
    padding: 0px;
}

.card{
    width: 17rem;
    display: flex;
    color: aliceblue;
   background-color: #2C1A4C;
   text-align: center;
   justify-content: center;
   align-items: center;
}

.card-body{
    color: aliceblue;
    background-color: #2C1A4C;
    border-top: 10px    ;
}

#card-title{
    color: aliceblue;
   background-color: #2C1A4C;
}

#card-text{
    color: aliceblue;
    background-color: #2C1A4C;
}
.modal{
    color: #2C1A4C;
    backdrop-filter:blur(x);
}

@media screen and (max-width: 992px){
    main{
        padding-top: 12vh;
        padding-bottom: 6vh;

    }
    #card-container{
        margin-top: 15px;
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;
    }
    .card{
        width: 230px;
    }
    .card-body{
        font-size: 10px;
    }
    .card img{
        height: 100px;
        width: 200px;
    }
}  