*{
    font-family: 'Optima', sans-serif;
}   

main{
    height: 80vh;
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}   
.text-bienvenidos{
    color: white;
}

.form-login{
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    color: white;
    background-color: black;
    margin: 7px;
    padding: 10px;
}
.container-form{
    background-color: black;

}
.items-form{
    background-color: black;
}
.items-form a{
    text-decoration: none;
    list-style: none;
}
.items-form p a label{
    background-color: black;
}
#button-form{
    background-color: #2C1A4C;
    align-items: center;
}
