*{
    font-family: sans-serif;
    font-size: 17px;
}   

main{
    padding-top:200px ;
    padding-bottom:200px ;
}
.text-bienvenidos{
    color: white;
}

.form-login{
    color: white;
    background-color: black;
    margin: 7px;
    padding: 10px;
}
.container-form{
    background-color: black;

}
.items-form{
    background-color: black;
}
.items-form a{
    text-decoration: none;
}
#button-form{
    background-color: #2C1A4C;
    align-items: center;

}
@media screen and (max-width: 1200px) {
    *{
        font-size: 15px;
    }
    main{
        padding-top: 23vh;
        padding-bottom: 20vh;
    }
}
@media screen and (max-width: 912px) {
    main{
        
        padding-top: 28.5vh;
        padding-bottom: 27.5vh;
    }
}
@media screen and (max-width: 576px) {
    *{
        font-size: 13px;

    }
    main{
        padding-top: 17vh;
        padding-bottom: 15vh;
    }
}
